* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Inter, Arial, sans-serif;
    min-height: 100vh;
}

.form {
    width: 95vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 2.5em 1.5em;
    background-color: #eee;
    border-radius: 1em;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form__p {
    font-size: 1.2em;
    margin-bottom: 1em;
}
.form__code {
    font-size: 1.1em;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border: 2px solid black;
    outline: none;
}
.form__code:focus {
    border-color: steelblue;
}
.form__submit {
    font-size: 1em;
    border-radius: 0.25em;
    padding: 0.5em;
    font-weight: bold;
    border: 2px solid darkgreen;
    color: darkgreen;
    transition: transform 0.1s;
}
.form__submit:active {
    transform: scale(0.95);
}

.counter_container {
    font-size: 2em;
    text-align: center;
    margin: 1.5em 0;
    user-select: none;
}

.counter {
    border: 2px solid orangered;
    border-radius: 0.3em;
    padding: 0.3em 1.5em;
    color: orangered;
}

.app {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 400px;
}

.container {
    width: 100%;
    padding-bottom: 100%; /* 1:1 ratio */
    position: relative;
    box-sizing: content-box;
    border: 2px solid #000;
}

.container > * {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.numpad {
    border: 2px solid #888;
    border-radius: 0.4em;
    padding: 0.4em;
    user-select: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.2em;
    font-size: 2em;
    width: 250px;
    height: 300px;
}

.numpad > button {
    border: 2px solid #34D399;
    color: #059669;
    font-weight: bold;
    background-color: #eee;
    border-radius: 0.3em;
    font-size: 1em;
    cursor: pointer;
}
.numpad > button:active {
    transform: scale(0.9);
    transition: transform 0.05s;
}

.numpad .sudokuButton-clear,
.numpad .sudokuButton-restart {
    grid-column-start: span 3;
    font-size: 0.8em;
}
